#consumer-home-page
  %section#featured-section.content-container
    .container.relativePosition
      #app-demo-container
        #app-demo
          .slider-wrapper.theme-default
            #slider.nivoSlider
              %img{:src=>'/images/app-demo/image_1.png',:alt=>"demo image 1"}
              %img{:src=>'/images/app-demo/image_2.png',:alt=>"demo image 2"}
              %img{:src=>'/images/app-demo/image_3.png',:alt=>"demo image 3"}
              %img{:src=>'/images/app-demo/image_4.png',:alt=>"demo image 4"}

      #slogan.pull-right.relativePosition
        %h1.extra-big.text-shadow-black Let Your Fashion Voice Heard
        %article.relativePosition
          %p Just a trend follower? No, You can be the <b>trend creator</b>! Why not to vote for the fashion in your heart?
          %p Well,did we mention you'll earn <b>exclusive coupons</b> for votings? 
        .ribbon.ribbon-green
          .ribbon-stitches-top
          .ribbon-content
            %a{:href=>"#pre-sign-up-modal",:"data-toggle"=>"modal",:class=>"sign-up-btn"}  
              %h1 
                %b Sign Up
          .ribbon-stitches-bottom
        = render :partial => 'preSignUp'
  %section#features-section.content-container
    .container
      .row-fluid
        .span4
          %img{:src=>"/images/icons/vote-icon-big.png",:alt=>"vote-icon-big"}
          .title
            %h3 Vote for styles 
        .span4
          %img{:src=>"/images/icons/points-icon-big.png",:alt=>"points-icon-big"}
          .title
            %h3 Earn points, stay faddy          
        .span4
          %img{:src=>"/images/icons/coupon-icon-big.png",:alt=>"coupon-icon-big"}
          .title
            %h3 Obtain exclusive coupons
  %section#gallery-section.content-container.transition-config
    .container
      #gallery.relativePosition.hide
        .nav
        .row
          #image-wall
          #sidebar.pull-right
        %a{:href=>"#gallery-section",:class=>"half-circle close-btn shadow"}
          .triangle
      #play.relativePosition
        .round-wrapper
          .img-container
        %h1.red.play-btn EXPLORE
        %h1.red.cancel-btn CANCEL
        .text-content
          %h3 Spring 2013's most directional fashion-forward <span class='red'>colors</span> and new items from top <span class='red'>brands</span>.
          %h3 <span class='red'>Vote</span> for your favorite!
        .left-half-circle.half-circle.white.collapsed
        .right-half-circle.half-circle.black.collapsed

%script{:type=>"text/template",:id=>"gallery-tag-item-template"}
  %a{:href=>"#"}
    %h3 <%= htmlText(name) %>
    .color-block.transition-config

%script{:type=>"text/template",:id=>"gallery-tag-template"}
  - for i in 1..3
    .span4
      - for j in 1..3
        .img-container.relativePosition

%script{:type=>"text/template",:id=>"gallery-mask-template"}
  .mask-content
    %img.icon{:src=>"/images/icons/white-heart.png",:alt=>"white-heart"}
    %h3 100
    %a{:href=>"#",:class=>"lightbox",:rel=>"lightbox"}
      %i.icon-zoom-in.icon-white

    
= javascript_include_tag 'models/Gallery.js'
= javascript_include_tag 'views/GalleryView.js'      
= javascript_include_tag 'views/TagView.js' 
= javascript_include_tag 'views/PlayBtnView.js'
= javascript_include_tag 'routers/GalleryRouter.js'      

:javascript
  $(document).ready(function(){
    $('#slider').nivoSlider({
      effect:'fade',
      animSpeed: 600,
      pauseTime:6000
    });
    var playBtnView = new PlayBtnView();
    var router = new GalleryRouter();
    Backbone.history.start();
  }) 
/* router ends */
