#consumer-home-page
  %section#featured-section.content-container
    .container.relativePosition
      #app-demo-container
        %img#iphone-mask{:src=>'/images/app-demo/iphone.png',:alt=>'iphone mask'}
        #app-demo
          .slider-wrapper.theme-default
            #slider.nivoSlider
              %img{:src=>'/images/app-demo/image_1.png',:alt=>"demo image 1"}
              %img{:src=>'/images/app-demo/image_2.png',:alt=>"demo image 2"}
              %img{:src=>'/images/app-demo/image_3.png',:alt=>"demo image 3"}
              %img{:src=>'/images/app-demo/image_4.png',:alt=>"demo image 4"}

      #slogan.pull-right.relativePosition
        %h1.extra-big.text-shadow-black Let Your Fashion Voice Be Heard 
        %a{:class=>"sign-up-btn green-btn btn btn-big"} Sign Up For Points 
  %section#features-section.content-container
    .container
      %article.center
        %h3 Just a trend follower? No, You can be the <b>trend setter</b>! 
        %h3 Why not <b>vote</b> on your favorite fashion styles and let your fashion voice be heard.
        %h3 Oh, did we mention you'll earn <b>exclusive coupons</b> for votings? 
      .row-fluid
        .span4
          %img{:src=>"/images/icons/vote-icon-big.png",:alt=>"vote-icon-big"}
          .title
            %h3 Vote for your styles 
        .span4
          %img{:src=>"/images/icons/points-icon-big.png",:alt=>"points-icon-big"}
          .title
            %h3 Earn points, stay faddy          
        .span4
          %img{:src=>"/images/icons/coupon-icon-big.png",:alt=>"coupon icon big"}
          .title
            %h3 Obtain exclusive coupons
  %section#featured-polls-section.relativePosition.content-container
    .container.relativePosition
      .ribbon.ribbon-red.section-title
        .ribbon-stitches-top
        .ribbon-content 
          %h1 
            %b Featured Polls Of The Week
          .ribbon-stitches-bottom
      .row-fluid#featured-polls
        - for i in 0..2
          .span4
            %h3.header Brand New Arrials
            .item-container.relativePosition
              .img-container.img-collage-container.relativePosition
                %img{:src=>'http://placehold.it/310x310',:class=>"poll-image",:alt=>'poll-image'}
                .mask.hide
                  .mask-content
                    %img.icon{:src=>"/images/icons/eye-icon.png",:alt=>"eye icon"}
                    %h3 
                      %a{:href=>"#featured-polls-section/polls/465"} Check it out!
              .title-container.poll
                %span.poll-title 
                  %a{:href=>"#featured-polls-section/polls/465"}
                    2013 Chanel Spring Dress
                %span.vote-container.pull-right
                  %img{:src=>'/images/icons/red-heart.png',:alt=>'heart-icon',:class=>'icon'}
                  %span 45
      #poll-view-wrapper.hide
      %a{:href=>"#featured-polls-section",:class=>"close-btn btn hide"} Back              

  -#%section#gallery-section.content-container.transition-config
    .container
      #gallery.relativePosition.hide
        .nav
        .row
          #image-wall
          #sidebar.pull-right
        %a{:href=>"#gallery-section",:class=>"half-circle close-btn shadow"}
          .triangle
      #play.relativePosition
        .round-wrapper
          .img-container
        %h1.red.play-btn EXPLORE
        %h1.red.cancel-btn CANCEL
        .text-content
          %h3 Spring 2013's most directional fashion-forward <span class='red'>colors</span> and new items from top <span class='red'>brands</span>.
          %h3 <span class='red'>Vote</span> for your favorite!
        .left-half-circle.half-circle.white.collapsed
        .right-half-circle.half-circle.black.collapsed

= render :partial => 'template'
    
= javascript_include_tag 'models/Item.js'
= javascript_include_tag 'models/Poll.js'
= javascript_include_tag 'views/PollView.js'
= javascript_include_tag 'views/ItemView.js'
= javascript_include_tag 'views/ItemCollectionView.js'
= javascript_include_tag 'routers/MainPagePollRouter.js'      

:javascript
  $(document).ready(function(){
    $('#slider').nivoSlider({
      effect:'fade',
      animSpeed: 600,
      pauseTime:6000
    });

    $('.img-container').hover(function(){
      $(this).find('.mask').stop(true,true).fadeIn();
      $(this).siblings('.title-container').hide();
    },function(){
      $(this).find('.mask').stop(true,true).fadeOut();
      $(this).siblings('.title-container').show();
    });

    $('.sign-up-btn').click(function(){
      $('.modal .alert').remove(); // remove the alert in the form if any
      $('#sign-in-modal').modal();
      $('#notice-container').html("<h3 class='alert alert-warning'>Sign up today, you can receive <b>500</b> points for coupons!</h3>");
    })

    if(#{current_user.nil?}){
      var router = new MainPagePollRouter({});
    }else{
      var router = new MainPagePollRouter({settings:{result:true}});
    }
    Backbone.history.start();
  }) 
/* router ends */
