= javascript_include_tag 'photo-upload/jquery.ui.widget.js'
= javascript_include_tag 'photo-upload/load-image.js'
= javascript_include_tag 'photo-upload/canvas-to-blob.js'  
= javascript_include_tag 'photo-upload/tmpl.js'
= javascript_include_tag 'photo-upload/jquery.iframe-transport.js'
= javascript_include_tag 'photo-upload/jquery.fileupload.js'
= javascript_include_tag 'photo-upload/jquery.fileupload-fp.js'
= javascript_include_tag 'photo-upload/jquery.fileupload-ui.js'
= javascript_include_tag 'photo-upload/locale.js'