-# this page is for admin only
#polls-admin
  .container#page
    .pagination
      %ul
        %li
          %a{:href=>"/admin/polls/1"} <<
        - @pagnation = pagnation @page,@page_end,@next_pages
        - for @i in @pagnation[:min]..@pagnation[:max]
          -if @i == @page
            %li.disabled
              %a{:href=>"/admin/polls/#{@i}"} #{@i}
          - else
            %li
              %a{:href=>"/admin/polls/#{@i}"} #{@i}
        %li 
          %a{:href=>"/admin/polls/#{@page_end}"} >>

= render :partial => 'pages/template'
-#%script{:type=>"text/template",:id=>"item-view-template"}
  .img-container.relativePosition
    <img src="<%= photo_url %>" class="item-image" alt="item photo" id="item-image-<%= id %>"/>
    .mask.hide
      .mask-content
        %img.icon{:src=>"/images/icons/white-heart.png",:alt=>"white-heart"}
        %h3 <%= number_of_votes %>
        <a href="<%= photo_url.replace(/medium/,'large') %>" class='lightbox' rel='lightbox[item]'><i class='icon-zoom-in icon-white'></i></a>
  .item-info
    %span Brand here: <%= brand %>
    -#%p tags: <%= tags %>
  .btn-group
    %button.btn.btn-small.edit-btn
      <a href="/items/<%= id %>/edit">Edit</a>
    %button.btn.btn-small.delete-btn Delete  

= javascript_include_tag 'models/Item.js'
=javascript_include_tag 'models/Poll.js'
= javascript_include_tag 'views/ItemView.js'
= javascript_include_tag 'views/ItemCollectionView.js'
= javascript_include_tag 'views/PollAdminView.js'

:javascript
  var url = '/admin/polls_to_json/#{@page}';
  renderPollsAdmin(url);
  
  