-# this page is for admin only
#polls-admin
  .container#page
    .pagination
      %ul
        %li
          %a{:href=>"/admin/polls/1"} <<
        - @pagnation = pagnation @page,@page_end,@next_pages
        - for @i in @pagnation[:min]..@pagnation[:max]
          -if @i == @page
            %li.disabled
              %a{:href=>"/admin/polls/#{@i}"} #{@i}
          - else
            %li
              %a{:href=>"/admin/polls/#{@i}"} #{@i}
        %li 
          %a{:href=>"/admin/polls/#{@page_end}"} >>
        

= javascript_include_tag 'models/Item.js'
=javascript_include_tag 'models/Poll.js'
= javascript_include_tag 'views/ItemView.js'
= javascript_include_tag 'views/ItemCollectionView.js'
= javascript_include_tag 'views/PollView.js'

:javascript
  var url = '/admin/polls_to_json/#{@page}';
  renderPollsAdmin(url);
  