:javascript
  $(document).ready(function(){
    $('#sign-in').click(function(){
      $('.modal .alert').remove(); // remove the alert in the form if any
      $('#sign-in-modal').modal();
    });

    setTimeout(function(){
      $('.flash-container').remove();
    },6000);

  });

#header
  .header-container.relativePosition
    %a{:href=>"/"}
      %img#brand{:src=>"/images/logo.png",:alt => "logo"}
    .right-text.pull-right
      - if !cookies.signed[:page].nil?

        - if current_user.nil?
          %b
            %a#sign-in Sign In 
          - if is_consumer?
            %a#identity{:href=>"/retailers"}I'm a brand
          - else
            %a#identity{:href=>"/"}I'm a user

        - else
          #user-info-container.dropdown
            %a.user-profile-photo.small{:href=>"/users/#{current_user.id}#tab=points/id=#{current_user.id}"}
              %img{:src =>"#{current_user.photo_url_with_style('small')}"}
            %a.dropdown-toggle#dLabel{:"data-toggle"=>"dropdown",:"data-target"=>"#",:href=>"#",:role=>"button"}
              #{current_user.user_name}
              %b.caret
            %ul.dropdown-menu.pull-right#menu{:role=>"menu",:"aria-labelledby"=>"dLabel"}
              %li 
                %a{:href=>"/users/#{current_user.id}#tab=points/id=#{current_user.id}"} Profile
              %li 
                %a{:href=>"/users/#{current_user.id}/settings",:tabindex=>"-1"} Settings
              %li
                %a{:href=>"/signout",:tabindex=>"-1"} Logout
              

= render :partial=>"sessions/signin"  