<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# meta_fad: http://ogp.me/ns/fb/meta_fad#">
  <%= render 'layouts/head' %>
  </head>
  <body>

    <div id="fb-root"></div>
    <script>
      //codes for fb login
      // Additional JS functions here
      window.fbAsyncInit = function() {
        FB.init({
          appId      : "<%= FB_ID %>", // App ID
          channelUrl : "//<%= DOMAIN %>/channel.html", // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        // Additional init code here
        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            // connected
            $('.login-fb').click(function(){
              window.location.href = '/auth/facebook';
            });
            console.log(response.authResponse);
          } else if (response.status === 'not_authorized') {
            // not_authorized
            console.log('not authorized.');
            $('.login-fb').click(function(){
              login();
            });
          } else {
            // not_logged_in
            console.log('not log in.');
            $('.login-fb').click(function(){
              login();
            });
          }
        });
      };

      function login(){
        FB.login(function(response) {
          if (response.authResponse) {
              // connected
          } else {
              // cancelled
          }
        });
      }
      
      //load ths SDK Asynchronously
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));
    </script>

    <div>
      <%= render 'layouts/header' %>
      <div class="main-content">
        <div class="container relativePosition">
          <% flash.each do |key, value| %>
            <div class="flash-container">
              <h3 class="flash alert <%= key %>"><%= value %></h3>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>